<div class="event">
  <div class="content">
    <div class="summary">
      <a class="user" href="#"><%= message.user.username %></a>
      <div class="date"><%= message.created_at %></div>
    </div>
    <div class="extra text"><%= message.body %></div>
  </div>
</div>