<h2 class="ui center aligned medium icon header">
  <i class="soundcloud icon"></i>
  <div class="content">Say something</div>
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="https://i.pravatar.cc/50?img=1" alt="Elliot Fu" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" alt="#"> Elliot Fu </a> added you as a friend
                <div class="date">1 Hour Ago</div>
              </div>
              <div class="meta">
                <span class="like"> <i class="like icon"></i> 4 Likes </span>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="https://i.pravatar.cc/50?img=2" alt="Helen Troy" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" alt="#">Helen Troy</a> added <a alt="#">2 new illustrations</a>
                <div class="date">4 days ago</div>
              </div>
              <div class="meta">
                <span class="like"> <i class="like icon"></i> 1 Like </span>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="https://i.pravatar.cc/50?img=3" alt="Jenny Hess" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" alt="#"> Jenny Hess </a> added you as a friend
                <div class="date">2 Days Ago</div>
              </div>
              <div class="meta">
                <span class="like"> <i class="like icon"></i> 8 Likes </span>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="https://i.pravatar.cc/50?img=4" alt="Joe Henderson" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" alt="#">Joe Henderson</a> posted on his page
                <div class="date">3 days ago</div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to
                where we'd we started, then starting all over again. Even if we
                don't run extra laps that day, we surely will come back for more
                of the same another day soon.
              </div>
              <div class="meta">
                <span class="like"> <i class="like icon"></i> 5 Likes </span>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="https://i.pravatar.cc/50" alt="Justen Kitsune" />
            </div>
            <div class="content">
              <div class="summary">
                <a class="user" alt="#">Justen Kitsune</a> added <a alt="#">2 new photos</a> of you
                <div class="date">4 days ago</div>
              </div>
              <div class="meta">
                <span class="like"> <i class="like icon"></i> 41 Likes </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Your message" />
              <i class="bordered inverted send icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a href="https://www.google.com" class="item"> Visit Google </a>
          <div class="link item">Javascript Link</div>
        </div>
      </div>
    </div>
  </div>
</div>
