<div class="ui center aligned medium icon header">
  <i class="soundcloud icon"></i>
  <h2 class="content">Say something</h2>
</div>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_with model: @messages, url: messages_path, class: "ui form", method: :post do |form| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= form.text_field :body, placeholder: "Your message" %>
              <%= form.button '<i class="bordered inverted send icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a href="https://www.google.com" class="item"> Visit Google </a>
          <div class="link item">Javascript Link</div>
        </div>
      </div>
    </div>
  </div>
</div>
